<div class="container">

  <form>

    <div class="row justify-content-center">

      <div class="col-4">
        <div class="form-group">
          <label for="firstnameInput">Imię:</label>
          <input class="form-control"
                 type="text"
                 id="firstnameInput"
                 name="firstname"
                 placeholder="podaj swoje imię">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="genderSelect">Płeć:</label>
          <select class="form-control"
                  id="genderSelect"
                  name="gender">
            <option value="" disabled selected>wybierz</option>
            <option value="FEMALE">Kobieta</option>
            <option value="MALE">Mężczyzna</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="col-4">
        <div class="form-group">
          <label for="birthyearSelect">Rok urodzenia:</label>
          <select class="form-control"
                  id="birthyearSelect"
                  name="birthyear">
            <option value="" disabled selected>wybierz</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="birthmonthSelect">Miesiąc urodzenia:</label>
          <select class="form-control"
                  id="birthmonthSelect"
                  name="birthmonth">
            <option value="" disabled selected>wybierz</option>
            <option value="1">Styczeń</option>
            <option value="2">Luty</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="col-4">
        <div class="form-group">
          <label for="emailInput">Adres e-mail:</label>
          <input class="form-control"
                 type="text"
                 id="emailInput"
                 name="email"
                 placeholder="podaj adres e-mail">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="emailRepeatedInput">Powtórz e-mail:</label>
          <input class="form-control"
                 type="text"
                 id="emailRepeatedInput"
                 name="emailRepeated"
                 placeholder="powtórz adres e-mail">
        </div>
      </div>

    </div>


    <div class="row justify-content-center">

      <div class="col-4">
        <div class="form-group">
          <label for="passwordInput">Hasło:</label>
          <input class="form-control"
                 type="password"
                 id="passwordInput"
                 name="password"
                 placeholder="podaj hasło">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="passwordRepeatedInput">Powtórz hasło:</label>
          <input class="form-control"
                 type="password"
                 id="passwordRepeatedInput"
                 name="passwordRepeated"
                 placeholder="powtórz hasło">
        </div>
      </div>

    </div>


    <div class="row justify-content-center">

      <div class="col-4">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="acceptRegulationsCheck"
                   name="acceptRegulations"
                   value="">
            <label class="form-check-label" for="acceptRegulationsCheck">
              Potwierdzam zapoznanie się z Regulaminem i akceptuję go
            </label>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <div class="form-check">

            <input class="form-check-input"
                   type="checkbox"
                   id="claimPersonalDataCheck"
                   name="claimPersonalData"
                   value="">
            <label class="form-check-label" for="claimPersonalDataCheck">
              Wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z...
            </label>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>
